<div> i am where the filter and projects go

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- add resarch cards, will need JS to dynamically generate?-->
                <div class="card-deck" style="width: 18rem;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">PROJECT TITLE</h5>
                            <!--MAYBE I BECOME CLICKABLE AND TAKE YOU to THE profile IN THE FUTURE?-->
                            <h6 class="card-subtitle mb-2 text-muted">STUDENTS NAME</h6>
                            <h6 class="card-subtitle mb-2 text-muted">UNIVERSITY NAME</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="card-link">GOOGLE DRIVE LINK</a>
                            <div class="card-footer">
                                <small class="text-muted">BONJOUR I AM THE COLLAB STATUS?</small>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>