<div>
  I AM THE HOME PAGE!
  <p>Explore projects and connect with your peers</p>
  <button id="homepage-signup">Sign up</button>
  <button id="homepage-login">Log in</button>
</div>

<script src="/js/homepage.js"></script>