<div> I am the user's profile
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                i am column 1 and hold the profile pic and description
                <div class="media">
                    <img class="mr-3" src="..." alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">{{user.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{user.institution}}</h6>
                        {{!-- add functionality for email --}}
                        <button>Message</button>
                        <button>Add Project</button>
                        <p>
                            i am the about me blurbs
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                i am column 2 and i hold add and view research buttons
                <div class="input-group-prepend">
                    <button type="button">view research!</button>

                    i am the research!
                    <div class="container d-none">
                        <div class="row">
                            <div class="col">
                                <div class="card-deck" style="width: 18rem;">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">PROJECT TITLE</h5>
                                            <!--MAYBE I BECOME CLICKABLE AND TAKE YOU to THE profile IN THE FUTURE?-->
                                            <h6 class="card-subtitle mb-2 text-muted">STUDENTS NAME</h6>
                                            <h6 class="card-subtitle mb-2 text-muted">UNIVERSITY NAME</h6>
                                            <h5><span class="badge badge-secondary">Ongoing</span></h5>
                                            {{!-- i am the ongoing or completed status IF STATMENT--}}
                                            <h5><span class="badge badge-secondary">Seeking Collaborators</span></h5>
                                            <p class="card-text">i am the abstract</p>
                                            <a href="#" class="card-link">GOOGLE DRIVE LINK</a>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>