<div> I am the user's profile
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                i am column 1 and hold the profile pic and description
                <div class="media">
                    <img class="mr-3" src="..." alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">USER NAME</h5>
                        <h6 class="card-subtitle mb-2 text-muted">UNIVERSITY NAME</h6>
                        <button>Message</button>
                        <p>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                            nisi
                            vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                i am column 2 and i hold add and view research buttons
                <div class="input-group-prepend">
                    <button type="button">view research!</button>

                    i am the research!
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!-- add resarch cards, will need JS to dynamically generate?-->
                                <div class="card-deck" style="width: 18rem;">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">PROJECT TITLE</h5>
                                            <!--MAYBE I BECOME CLICKABLE AND TAKE YOU to THE profile IN THE FUTURE?-->
                                            <h6 class="card-subtitle mb-2 text-muted">STUDENTS NAME</h6>
                                            <h6 class="card-subtitle mb-2 text-muted">UNIVERSITY NAME</h6>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk
                                                of
                                                the card's content.</p>
                                            <a href="#" class="card-link">GOOGLE DRIVE LINK</a>
                                            <div class="card-footer">
                                                <small class="text-muted">BONJOUR I AM THE COLLAB STATUS?</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>